
.vs/HowlOfTheVoid.github.io/config/applicationhost.config
.vs/HowlOfTheVoid.github.io/FileContentIndex/2cc461d7-51e0-4075-94bf-84eb170c692a.vsidx
.vs/HowlOfTheVoid.github.io/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/HowlOfTheVoid.github.io/FileContentIndex/2cf92ae9-294f-440a-bdd4-fe9676482eaf.vsidx
.vs/HowlOfTheVoid.github.io/FileContentIndex/f8a34ad9-c0d6-49f0-af82-d0c914511a19.vsidx
